*{
    padding: 0;
    margin: 0 ;
    font-family: sans-serif;
}

header {

   
  

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    justify-content: center;/* eixo x */
    align-items: center; /* eixo y */
    text-align: left;
    transition: .5s;
    
}

.ajuste{
    
    
    
    left: 17%;
    align-items: center;
    justify-content: center;
    margin: 90px;
    padding-left: 80px;
    gap: 90px;



    
}


.ajuste2{
    
    left: 90%;

    font-size: 40px;

   
    
}



.bi-people{
    font-size: 80px;
}
.nome{
    font-size: 16px ;
    align-items: center;
}

.border{
    border-radius: 20px black;
}
.cinza{
    background-color: rgb(114, 95, 70);
}
.nome2{
    margin-top: 2%;
    text-align: center;
    font-style: black;
   

    font-size: 50px;
    
    
    border-bottom: 3px solid black;
    
}
